@import './mixins/_mixins';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

body {
    height: 300vh;
}

.flex-container {
    align-items: center;
    background-color: #F7F9F9;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0;
    width: 100vw;
    .flex-item {
        color: rgba(0, 0, 0, 0.8);
        padding: 30px;
        text-align: center;
        width: 600px;
        h1 {
            color: rgba(0, 0, 0, 0.9);
            font-size: 50px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            text-transform: capitalize;
        }
        .button-group {
            margin-top: 30px;
        }
        button {
            background-color: #E53D00;
            border: 0;
            color: #fff;
            font-size: 17px;
            font-weight: 600;
            padding: 10px 30px;
            text-transform: capitalize;
            &:first-child {
                margin-right: 7px;
            }
            @include in-mobile {
                background-color: #E53Dff;
            }
        }
    }
}