@mixin set-margin-l-r($margin-left, $margin-right) {
    margin-left: $margin-left;
    margin-right: $margin-right;
}

@mixin set-margin-t-b($margin-top, $margin-bottom) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}