@mixin add-padding-l-r($padding-left, $padding-right) {
    padding-left: $padding-left;
    padding-right: $padding-right;
}

@mixin add-padding-t-b($padding-top, $padding-bottom) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}