@mixin add-transition($transition-value) {
    -webkit-transition: $transition-value;
       -moz-transition: $transition-value;
        -ms-transition: $transition-value;
         -o-transition: $transition-value;
            transition: $transition-value;
}