@mixin add-transition($transition-value) {
    -webkit-transition: $transition-value;
       -moz-transition: $transition-value;
        -ms-transition: $transition-value;
         -o-transition: $transition-value;
            transition: $transition-value;
}

@mixin change-opacity-on-hover($opacity-before, $opacity-after:1) {
    opacity: $opacity-before;
    &:hover {
        opacity: $opacity-after;
    }
}